[submodule "Watcher"]
	path = Watcher
	url = git@gitlab.jobuzzle.com:Jobuzzle/Watcher.git
	branch = master
[submodule "Modules/Body"]
	path = Modules/Body
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Body.git
	branch = master
[submodule "Modules/Client"]
	path = Modules/Client
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Client-Front.git
	branch = master
[submodule "Modules/Notification"]
	path = Modules/Notification
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Notification-Front.git
	branch = master
[submodule "Modules/User"]
	path = Modules/User
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/User-Front.git
	branch = master
[submodule "Modules/Navigation"]
	path = Modules/Navigation
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Navigation-Front.git
	branch = master
[submodule "Modules/Store"]
	path = Modules/Store
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Store-Front.git
	branch = master
[submodule "Modules/Timeline"]
	path = Modules/Timeline
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Timeline-Front.git
	branch = master
[submodule "Modules/Panel"]
	path = Modules/Panel
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Panel-Front.git
	branch = master
[submodule "Modules/Student"]
	path = Modules/Student
	url = git@gitlab.intra.jobuzzle.com:Jobuzzle/Student-Front.git
	branch = master
