/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-11-06 08:49:12
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-06 08:49:31
**************************************************************/

@mixin backgroundApp () {
	position: relative;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding : 10px;
	border-radius: 4px;
	background: $white_color;
	box-shadow: 0px 0px 3px darken($white_color, 20);
}