/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-02 13:52:32
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-10 21:02:44
**************************************************************/

@include keyframes(fadeIn) {
	0		{ opacity: 0.00; }
	25%		{ opacity: 0.25; }
	50%		{ opacity: 0.50; }
	75%		{ opacity: 0.75; }
	100%	{ opacity: 1.00; }
}