/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-02 13:52:32
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-09-15 13:08:58
**************************************************************/

@import "vars/all";
@import "mixins/all";
@import "vendors/all";
@import "font/all";

body, html {
	margin : 0px;
	padding: 0px;
	height : 100%;
	font-family: $primary_font;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

[data-url] {
	cursor: pointer;
}

.inline {
	display: inline-block;
}