/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-06-06 06:42:18
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-30 11:38:32
**************************************************************/

$primary_color : #36415C;
$secondary_color : #45B29D;
$tercary_color : #6BB2AE;
$error_color : #D54F58;
$neutral_color : #F3EDD3;

$validated_color : #8AD6D7;
$white_color : #f5f5f5;
